@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div>
       <h2>Look For Jobs !</h2>
    </div>

    @foreach (JobModel j in Model.Jobs)

    {
    <div>
        <h1>JOB</h1>
        <h2>JOB NAME:  @Html.DisplayFor(modelItem => j.JobTitle)</h2>
        <h4>LANGUAGE:  @Html.DisplayFor(modelItem => j.Language)</h4>
        <h4>COMPANY:  @Html.DisplayFor(modelItem => j.Company.WebsiteUrl)</h4>
        <p>STATUS: @Html.DisplayFor(modelItem => j.AppStatus.AppStatusTitle)</p>
        @if (j.ContactId != 0)
         {
        <p>CONTACT:  @Html.DisplayFor(modelItem => j.Contact.Name)</p>
         }
        <p>Notes: @Html.DisplayFor(modelItem => j.Notes)</p>
          <div>
              <h3>Update Status/Change Contact</h3>
              <div>
                      <div>
                          @Html.DropDownList("AppStatuses")
                      </div>
                  <button type="submit" class="btn btn-link navbar-btn navbar-link">Change Status</button>
              </div>
              <div>
                  <div>
                      @Html.DropDownList("Contacts")
                  </div>
                  <button type="submit" class="btn btn-link navbar-btn navbar-link">Add Contact</button>
              </div>
          </div>
    </div>
    }
}
else
{
     <div>
            <h2>HAI, LOEG IN TO ADD SUM JOBZ</h2>
      </div>
}
