@using Microsoft.AspNetCore.Identity
@Model  JobTracker.Models.JobViewModels.JobDisplayViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}


@if (SignInManager.IsSignedIn(User))
{
    <div>
       <h2>LOOKE 4 SUM JOBZ SLAKUR! </h2>
    </div>

    @foreach (JobModel j in Model.Jobs)
    {
    <div>
        <h1>GIT THAT JOEB:: </h1>
        <h2>Naem of Joeb:  @Html.DisplayFor(modelItem => j.JobTitle)</h2>
        <h4>Code typez::  @Html.DisplayFor(modelItem => j.Language)</h4>
        <h4>Peeps Hiring  @Html.DisplayFor(modelItem => j.Company.WebsiteUrl)</h4>
        <p>HOWS it GOIN? @Html.DisplayFor(modelItem => j.AppStatus.AppStatusTitle)</p>
        @if (j.ContactId != 0)
    {
        <p>U said u kno this person : @Html.DisplayFor(modelItem => j.Contact.Name)</p>
}
        <p>noats: @Html.DisplayFor(modelItem => j.Notes)</p>
        <div>
              @Html.DropDownList("AppStatuses")
        </div>
        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
    </div>
    }
}
else
{
     <div>
            <h2>HAI, LOEG IN TO ADD SUM JOBZ</h2>
      </div>
}
